@use "reset" as *;
@use "fonts" as *;
/*==variables==*/
@mixin font($size-px, $lh) {
    font-size: ($size-px / 16) * 1rem;
    line-height: $lh / $size-px;
}
/*== main start ==*/
body {
    //@include font_family($raleway, 500);
    //@include font(14, 24);
}
.container {
    width: min(90%, 1170px);
    margin-inline: auto;
}
/*== main end ==*/

/*== header start ==*/
/*== header end ==*/

/*== main section start ==*/
/*== main section end ==*/

/*== footer start ==*/
/*== footer end ==*/
