@font-face {
  font-display: swap;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-display: swap;
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
/*==variables==*/
/*== reset ==*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
}

ul {
  list-style: none;
}

/*== main start ==*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.7142857143;
  color: #333;
}

.container {
  width: min(90%, 1170px);
  margin-inline: auto;
}

.h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 3.75rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffcc00;
  margin-bottom: 41px;
}

.h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 1.1666666667;
  color: #666;
  margin-bottom: 31px;
}

.sup-title {
  text-transform: uppercase;
  color: #898F8F;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  margin-bottom: 15px;
}

.summer-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #666;
  margin-bottom: 22px;
}

.btn {
  display: inline-block;
  padding: 5px 10px 3px;
  border: 1px solid #ffcc00;
  text-transform: uppercase;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1;
  color: #666;
}

/*== main end ==*/
.wrapper {
  padding: 121px 0 122px;
}

/*== header start ==*/
.header {
  text-align: center;
}
.header .separator {
  width: min(100%, 450px);
  height: 1px;
  margin: 0 auto;
  background-color: #ffcc00;
  position: relative;
}
.header .separator .icon-wrap {
  display: inline-block;
  padding: 0 5px;
  margin-top: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #fff;
}

/*== header end ==*/
/*== main section start ==*/
.main-wrap {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.main-wrap .column {
  padding: 65px 0;
  margin: 50px 0;
  text-align: center;
}
.main-wrap .column .h2 {
  padding: 5px 0 21px;
  position: relative;
}
.main-wrap .column .h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  height: 1px;
  width: 100px;
  background-color: #ffcc00;
  transform: translateX(-50%);
}
.main-wrap .column .description {
  margin: 0 13% 25px;
  padding-bottom: 20px;
  position: relative;
}
.main-wrap .column .description::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  background: linear-gradient(to right, #ffcc00 0, #ffcc00 20%, #fff 20%, #fff 30%, #ffcc00 30%, #ffcc00 70%, #fff 70%, #fff 80%, #ffcc00 80%, #ffcc00 100%);
}

.img-wrap {
  position: relative;
  padding: 15px;
  margin-right: 16px;
}
.img-wrap::after, .img-wrap::before {
  content: "";
  width: 100px;
  height: 100px;
  border-top: 1px solid #ffcc00;
  position: absolute;
  top: 0;
}
.img-wrap::after {
  right: 0;
  border-right: 1px solid #ffcc00;
}
.img-wrap::before {
  left: 0;
  border-left: 1px solid #ffcc00;
}

.img-wrap2 {
  border: 1px solid #ffcc00;
}
.img-wrap2::after, .img-wrap2::before {
  content: "";
  width: 100px;
  height: 100px;
  border-bottom: 1px solid #ffcc00;
  position: absolute;
  bottom: 0;
}
.img-wrap2::after {
  right: 0;
  border-right: 1px solid #ffcc00;
}
.img-wrap2::before {
  left: 0;
  border-left: 1px solid #ffcc00;
}

.image-column {
  display: flex;
  justify-content: center;
  align-items: start;
  border-right: 1px solid #ffcc00;
}

.sotial-links {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 49px;
}
.sotial-links a, .sotial-links svg {
  display: block;
}

/*== main section end ==*/