/*== reset ==*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
}
ul {
    list-style-type: none;
}
img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*== main start ==*/
body {
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    color: #070707;
    font-weight: 500;
}
.container {
    width: min(90%, 970px);
    margin-inline: auto;
}
h1 {
    font-size: 48px;
    line-height: 66px;
}
h2 {
    font-size: 34px;
    line-height: 46px;
}
p {
    margin-bottom: 30px;
}
button {
    border-radius: 20px;
    padding: 10px 16px 8px;
    background-color: #070707;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
small {
    font-size: 14px;
}
/*== main end ==*/
/*== header start ==*/
#header {
    height: 80px;
}
#header .container {
    border-bottom: 1px solid #828282;
    height: 100%;
}
#header .container nav {
    padding-top: 27px;
    font-size: 0;
}
#header .container ul li {
    display: inline-block;
}
#header .container ul li + li {
    margin-left: 40px;
}
#header a {
    color: #828282;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.4px; 
    font-weight: 700;
}
#header a.active, 
#header a:hover {
    color: #070707;
}
.hamburger {
    display: none;
}
/*== header end ==*/

/*== main section start ==*/

/*-- campaign section start --*/
.first-screen {
    text-align: left;
    padding-top: 12px;
}
.first-screen h1 {
    margin-bottom: 44px;
}
.first-screen img {
    aspect-ratio: 2.44;
}
/*-- campaign section end --*/

/*-- about section start --*/
#about-me {
    background-color: #E5E5E5;
    padding: 100px 0 70px;
}
#about-me h2 {
    margin-bottom: 43px;
}
#about-me .container > div {
    max-width: 500px;
    margin: 0 auto; 
}
/*-- about section end --*/

/*-- skills section start --*/
#skills {
    padding: 100px 0;
}
#skills h2 {
    margin-bottom: 15px;
}
#skills p {
    margin-bottom: 48px;
}
#skills img {
    width: auto;
    height: auto;
}
#skills .teasers {
    display: flex;
    justify-content: space-between;
}
#skills .teasers > li {
    max-width: 170px;
    height: 230px;
}
#skills .teasers > li figure {
    margin: 0 auto;
    max-width: 100px;
    height: 203px;
}
#skills .teasers > li figure img {
    margin-bottom: 25px;
}
#skills .teasers > li figcaption {
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    letter-spacing: 0.6px;
    font-weight: 700;
}
#skills .teasers .rating {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
/*-- skills section end --*/

/*-- portfolio section start --*/
#portfolio {
    background-color: #E5E5E5;
    padding: 100px 0 27px;
}
#portfolio h2 {
    margin-bottom: 44px;
}
#portfolio img {
    margin-bottom: 40px;
}
#portfolio figcaption a {
    color: #070707;
}
#portfolio figure {
    margin-bottom: 70px;
}
#portfolio img {
    aspect-ratio: 1.79;
}
/*-- portfolio section end --*/

/*== main section end ==*/


/*== footer section start ==*/
#contacts {
    padding: 100px 0 44px;
}
#contacts h2 {
    margin-bottom: 14px;
}
#contacts p {
    margin-bottom: 56px;
}
#contacts .bottom-text {
    line-height: 16px;
    color: #828282;
}
.social-group {
    font-size: 0;
    vertical-align: top;
    margin-bottom: 60px;
}
.social-group li, .social-group li a  {
    display: inline-block;
}
.social-group li + li {
    margin-left: 50px;
}
/*== footer section end ==*/
/*== mob menu ==*/

    #mobMainMenu nav {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: #fff;
        transition: all 0.5s ease;
        transform: translateY(-100%);
        z-index: 11;
    }
    #mobMainMenu.open nav {
        transform: translateY(0);
    }
    #mobMainMenu a {
        color: #828282;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 0.4px; 
        font-weight: 700;
        padding: 35px 20px;
        border-bottom: 1px solid #828282;
        display: block;
        text-align: left;
    }
    #mobMainMenu a.active {
        color: #070707;
    }
    #mobMainMenu.open .overlight {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
    }
    /*end*/

/*--media--*/
@media only screen and (max-width: 993px) {

    #skills .rating li {
        width: 20px;
    }
    #skills .rating li img {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 769px) {

    #skills .teasers {
        flex-wrap: wrap;
        max-width: 400px;
        margin: 0 auto;
    }
    #skills .teasers > li figure {
        height: 160px;
    }
}

@media only screen and (max-width: 600px) {
    .hamburger {
        display: block;
        float: right;
        position: relative;
        bottom: -5px;
        right: -13px;
        z-index: 12;
    }
    #header {
        height: 70px;
    }
    #mainMenu {
        display: none;
    }
    .first-screen img {
        aspect-ratio: 0.66;
    }
}
@media only screen and (max-width: 480px) {
    #skills .teasers {
        max-width: 250px;
        flex-direction: column;
        align-items: center;
    }
    .social-group {
        display: flex;
        justify-content: space-between;
    }
    .social-group li + li {
        margin-left: 0;
    }

}