@use "reset" as *;
@use "fonts" as *;
/*==variables==*/
@mixin font($size-px, $lh) {
    font-size: ($size-px / 16) * 1rem;
    line-height: $lh / $size-px;
}
$color-font: #fff;
$text-gray: #999;
$main-color: #5373FD;
$main-color-dark: #486BFE;
$bg-color-dark: #333;
/*== main start ==*/
html {
    scroll-behavior: smooth;
}
body {
    @include font_family('JosefinSans', 300);
    @include font(16, 28);
    color: $color-font;
    background-color: $bg-color-dark;
}
.container {
    width: min(90%, 1320px);
    margin-inline: auto;
    @media only screen and (max-width: 1360px) {
      width: 100%;
      padding: 0 110px;
    }
    @media only screen and (max-width: 1200px) {
      padding: 0 32px;
    }
    @media only screen and (max-width: 1023px) {
      padding: 0 25px;
    }
    @media only screen and (max-width: 767px) {
      padding: 0 19px;
    }
}
.h1 {
    @include font_family('JosefinSans', 700);
    @include font(48, 52);
    text-transform: uppercase;
    margin-bottom: 9px;
}
.h2 {
  @include font_family('Aleo', 400);
  @include font(36, 40);
  margin-bottom: 23px;
  @media only screen and (max-width: 767px) {
    margin-bottom: 19px;
  }
}
.h3 {
  @include font_family('JosefinSans', 400);
  @include font(20, 28);
  text-transform: uppercase;
  margin-bottom: 16px;
}
p {
  margin-bottom: 28px;
  letter-spacing: 1.6px;
}
.btn {
  @include font_family('Aleo', 400);
  @include font(16, 20);
  background-color: $main-color;
  color: $color-font;
  text-transform: uppercase;
  padding: 20px 32px;
  margin-top: 5px;
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    z-index: 2;
    left:0;
    top:0;
    width: 150%;
    height: 100%;
    background-color: $main-color-dark;
    -webkit-transform: translateX(-75%) skew(45deg, 0);
    -ms-transform: translateX(-75%) skew(45deg, 0);
    transform: translateX(-75%) skew(45deg, 0);
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  &:hover {
    &::before {
      -webkit-transform: translateX(-20%) skew(40deg, 0);
      -ms-transform: translateX(-20%) skew(40deg, 0);
      transform: translateX(-20%) skew(40deg, 0);
    }
  }
  span {
    position: relative;
    z-index: 3;
  }
}
section > .bg-image-holder {
  position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    z-index: -1;
    //background: #000!important;
}
main > section, footer, header {
  margin-top: -1px; /*fix bug in chrome*/
}
html, body {
  width: 100%;
}
/*== main end ==*/

/*== header start ==*/
.campaign {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  margin-bottom: -1px;
  .bg-image-holder {
    position: absolute;
    left: 0;
    top: 0;
    min-height: 150vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    z-index: -1;
  }
  .text-holder {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 1px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    @include font_family('JosefinSans', 400);
    .subtitle {
      @include font(22, 28);
      margin-bottom: 47px;
      letter-spacing: 7px;
    }
    form {
      position: relative;
      max-width: 647px;
      margin: 0 auto 207px;
      input#search-text {
        width: 100%;
        background-color: #E5E5E5;
        padding: 22px 150px 22px 35px;
        border: 0;
        + label {
            position:absolute;
            pointer-events:none;
            @include font(14, 20);
            color: $text-gray;
            left: 37px;
            letter-spacing: 2.8px;
            top: 21px;
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
            -o-transition:0.2s ease all;
            transition:0.2s ease all; 

        }
        &:focus {
          outline:none;
          + label {
                top: 4px;
                font-size: 0.7rem;
          }
        }
        &:not(:placeholder-shown) ~ label {
                top: 4px;
                font-size: 0.7rem;
        }
      }
      button {
        position: absolute;
        top: 4px;
        bottom: 4px;
        right: 5px;
        height: calc(100% - 8px);
        width: 139px;
        @include font_family('Aleo', 400);
        @include font(14, 20);
        background-color: $main-color;
        border: 0;
        color: $color-font;
        text-transform: uppercase;
        letter-spacing: 2.1px;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        cursor: pointer;
          svg {
            width: 16px;
            height: 16px;
            display: inline-block;
            vertical-align: middle;
            margin: -1px 5px 0 5px;
          }
        &:hover, &:focus {
          background-color: $main-color-dark;
          border: 0;
        }
      }
    }
  }
  .arrow-down {
    display: inline-block;
    color: $color-font;
    @include font(14, 20);
    margin-bottom: 138px;
    letter-spacing: 2.6px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left:50%;
      bottom: -13px;
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $color-font;
      border-right: 2px solid $color-font;
      -webkit-transform: translateX(-50%) rotate(45deg);
          -ms-transform: translateX(-50%) rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
    }
  }
}
/*header navigation*/
.header {
  height: 84px;
  background-color: $main-color;
  position: relative;
  z-index: 100;
  &.sticky {
  position: fixed;
  top: 0;
  width: 100%
  }
  &.sticky + main {
  padding-top: 84px;
  }
  @media only screen and (max-width: 1023px) {
    height: 137px;
    
    &.sticky + main {
    padding-top: 137px;
    }
  }
  @media only screen and (max-width: 767px) {
    height: 86px;
    
    &.sticky + main {
    padding-top: 86px;
    }
  }
  .container {
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 11;
    @media only screen and (max-width: 1023px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
      justify-content: center;
      gap: 25px;
    }
    @media only screen and (max-width: 767px) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
      flex-direction: row;
      background: #5373FD;
    }
    .logo img {
      width: 165px;
      margin-top: 5px;
      height: auto;
    }
    nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
      gap: 39px;
      a {
        text-transform: uppercase;
        color: $color-font;
        @include font_family('Aleo', 400);
        @include font(14, 20);
        display: inline-block;
        position: relative;
        letter-spacing: 1.4px;
        &::after {
                content: '';
                width: 0;
                height: 1px;
                background-color: $color-font;
                position: absolute;
                bottom: -3px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                -webkit-transition: all .3s ease;
                -o-transition: all .3s ease;
                transition: all .3s ease;
            }
        &:hover {
          &::after {
            width: 70%; 
          }
        }
      }
    }
    > nav {
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
.hamburger {
  display: none;
  @media only screen and (max-width: 767px) {
    display: block;
    position: absolute;
    z-index: 11;
    right: 3px;
    top: 16px;
    cursor: pointer;
  }
}
/*== header end ==*/

/*== main section start ==*/
section#why-choose-us {
  position: relative;
  z-index: 2;
  padding: 124px 0;
  @media only screen and (max-width: 1023px) {
    padding: 60px 0 51px;
  }
  .two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    @media only screen and (max-width: 1023px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      gap: 33px;
    }
    @media only screen and (max-width: 767px) {
      gap: 37px;
    }
    .images-side {
      max-width: 536px;
      width: 100%;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 58px 16px 1fr 16px 170px;
      grid-template-columns: 58px 1fr 170px;
      -ms-grid-rows: 1fr 16px 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 16px;
      > .image-holder:nth-child(2) {
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-column: 2 / span 2;
        -ms-grid-row: 2;
        -ms-grid-row-span: 1;
        grid-row: 2 / 3;
        @media only screen and (max-width: 1023px) {
          -ms-grid-column: 2;
          -ms-grid-column-span: 1;
          grid-column: 2 / span 1;
          -ms-grid-row: 1;
          -ms-grid-row-span: 1;
          grid-row: 1 / span 1;
          -ms-grid-column-align: start;
          justify-self: start;
        }
      }
      .image-holder {
        max-width: 350px;
        aspect-ratio: 35/22;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / span 2;
        -ms-grid-row: 1;
        -ms-grid-row-span: 1;
        grid-row: 1 / 2;
        @media only screen and (max-width: 1023px) {
          -ms-grid-column: 1;
          -ms-grid-column-span: 1;
          grid-column: 1 / span 1;
          -ms-grid-column-align: end;
          justify-self: end;
        }
      }
    }

    .text-side {
      width: 50%;
      @media only screen and (max-width: 1200px) {
        width: 58%;
      }
      @media only screen and (max-width: 1023px) {
        width: 100%;
        text-align: center;
      }
      .btn {
        margin-top: -6px;/*pixel perfect*/  
        @media only screen and (max-width: 1023px) {
          margin-top: -3px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1360px) {
  section#why-choose-us .two-column .images-side {
    max-width: 460px;
        -ms-grid-columns: 94px 16px 1fr 16px 94px;
        grid-template-columns: 94px 1fr 94px;
  }
}
@media only screen and (max-width: 1200px) {
  section#why-choose-us .two-column .images-side {
    max-width: 386px;
          -ms-grid-columns: 20px 16px 1fr 16px 20px;
          grid-template-columns: 20px 1fr 20px;
  }
}
@media only screen and (max-width: 1023px) {
  section#why-choose-us .two-column .images-side {
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr 23px 1fr;
        grid-template-columns: repeat(2, 1fr);
        max-width: 100%;
        gap: 23px;
  }section#why-choose-us .two-column .images-side > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }section#why-choose-us .two-column .images-side > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
/*--*/
section#steps {
  height: 306px;
  background-color: $bg-color-dark;
  @media only screen and (max-width: 1023px) {
    height: 100%;
  }
  .container {
    padding-top: 107px;
    @media only screen and (max-width: 1360px) {
      padding: 0;
      padding-top: 121px;
    }
    @media only screen and (max-width: 1023px) {
      padding-top: 59px;
      padding-bottom: 33px;
    }
     ul {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        width: 1350px;/*!*/
        margin: 0 auto;
        @media only screen and (max-width: 1360px) {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
          justify-content: center;
          width: 1175px;
        }
        @media only screen and (max-width: 1200px) {
          width: 995px;
        }
        @media only screen and (max-width: 1023px) {
          width: 100%;
          text-align: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
          flex-direction: column;
          gap: 30px;
        }
        li {
          -webkit-box-flex: 1;
              -ms-flex: 1 0 auto;
          flex: 1 0 auto;
          text-align: center;
          position: relative;
          svg {
            width: 65px;
            height: 96px;
            margin-bottom: -4px;
            display: inline-block;
            position: relative;
            z-index: 2;
            background-color: $bg-color-dark;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            padding: 0 20px
          }
          h4 {
            letter-spacing: 0;
            position: relative;
            z-index: 2;
            color: #fff;
            background-color: $bg-color-dark;
            @include font_family('Aleo', 400);
            @include font(36, 40);
                margin-bottom: 28px;
          }
          &::after {
            content: '';
            position: absolute;
            z-index: 1;
            left: 0;
            top: 15px;
            height: 150%;
            width: 100%;
            background-color: $bg-color-dark;
            @media only screen and (max-width: 1023px) {
              display: none;
            }
          }
        }
        &::after {
          content: '';
          position: absolute;
          left: 156px;
          top: -43px;
          width: 618px;
          height: 618px;
          border-radius: 50%;
          border-top: 1px dashed #999;
          @media only screen and (max-width: 1360px) {
                left: 92px;
                top: -39px;
          }
          @media only screen and (max-width: 1200px) {
            left: 92px;
                top: -32px;
            width: 496px;
            height: 496px;
          }
          @media only screen and (max-width: 1023px) {
              display: none;
            }
        }
        &::before {
          content: '';
          position: absolute;
          right: 145px;
          top: -40px;
          width: 618px;
          height: 618px;
          border-radius: 50%;
          border-top: 1px dashed #999;
          @media only screen and (max-width: 1360px) {
                right: 93px;
                top: -38px;
          }
          @media only screen and (max-width: 1200px) {
                right: 93px;
                top: -31px;
            width: 496px;
            height: 496px;
          }
          @media only screen and (max-width: 1023px) {
              display: none;
            }
        }
      }
  }
}
/*--*/
#first-section-card, 
#second-section-card {
  position: relative;
  z-index: 1;
  padding: 220px 0 120px;
  @media only screen and (max-width: 1023px) {
    padding: 120px 0 120px;
  }
  .container {
    display: -ms-grid;
    display: grid;
  }
}
.card {
  width: 49%;
  padding: 44px 32px 34px;
  background-color: rgba(35, 35, 35, 0.9);
  @media only screen and (max-width: 1200px) {
    width: 57%;
  }
  @media only screen and (max-width: 1023px) {
    width: 100%;
  }
  .tag {
    @include font(20, 28);
    margin-bottom: 16px;
  }
  p {
    margin-bottom: 19px;
  }
  .btn {
    padding: 20px 56px;
    @media only screen and (max-width: 1023px) {
      margin-top: 9px;
    }
  }
  &.right-side {
    justify-self: flex-end;
  }
}
/*--*/
section#coment-section {
  padding: 120px 0 180px;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: 1023px) {
    padding: 62px 0 120px;
  }
  h2 {
    text-align: center;
    margin-bottom: 60px;
  }
  .two-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: $bg-color-dark;
    @media only screen and (max-width: 1023px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
      flex-direction: column;
    }
    .image-holder {
      max-width: 440px;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 100%;
      flex: 1 0 100%;
      aspect-ratio: 44/28;
      @media only screen and (max-width: 1360px) {
        max-width: 380px;
      }
      @media only screen and (max-width: 1200px) {
        max-width: 320px;
      }
      @media only screen and (max-width: 1023px) {
        max-width: 100%;
        height: 336px;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
      }
      img {
        object-position: center top;
      }
    }
    .text-holder {
      padding: 48px 60px;
      @media only screen and (max-width: 767px) {
        padding: 48px 55px 48px 60px;
      }
      .name {
        @include font_family('JosefinSans', 400);
        @include font(20, 28);
        text-transform: uppercase;
        letter-spacing: 0.1px;
        margin-bottom: 15px;
      }
      svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: -4px 4px 3px 0;
      }
      blockquote {
        letter-spacing: 1.6px;
      }
    }
  }
}
/*== main section end ==*/

/*== footer start ==*/
.footer {
  background-color: #000;
  padding: 80px 0;
  text-align: center;
  @include font_family('JosefinSans', 400);
  @include font(14, 20);
    p {
      letter-spacing: 2.6px;
      margin-bottom: 19px;
    }
  .logo {
    display: inline-block;
    margin-bottom: 17px;
    img {
      width: 168px;
      height: auto;
    }
  }
  .sotial-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
    justify-content: center;
    gap: 32px;
    a {
      display: inline-block;
      svg path {
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      &:hover {
        svg path {
          fill: $main-color;
        }
      }
    }
  }
}
/*== footer end ==*/
/*== mob menu ==*/

    #mobMainMenu {
      nav {
        position: absolute;
        left: 0;
        top: 85px;
        display: none;
        overflow: hidden;
        width: 100%;
        background: #5373FD;
        -webkit-transition: all -2s ease-in-out;
        -o-transition: all -2s ease-in-out;
        transition: all -2s ease-in-out;
        z-index: 11;
        li:first-child {
          padding-top: 19px;
        }
        li:last-child {
          padding-bottom: 26px;
        }
        a {
          text-transform: uppercase;
          color: $color-font;
          @include font_family('Aleo', 400);
          @include font(14, 20);
          display: inline-block;
          position: relative;
          letter-spacing: 1.4px;
          padding: 12px 0;
          display: block;
          text-align: center;
        }
      }
      &.open {
        .overlight {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 10;
        }
      }
    }
    /*end*/
