/*==variables==*/
:root {
    --text-color: #000;
}
/*== reset ==*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    position: relative;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
img {
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
}
/*== main start ==*/
body {
    font-family: 'PTSans', sans-serif;
    font-size: 1.75rem;
    line-height: 1.7;
    letter-spacing: 0.21px;
    color: var(--text-color);
    background: url(/assets/images/bg-picture.png) 106% 150px no-repeat; 
    background-attachment: fixed;
    height: 100vh;
}
.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}
p {
    margin-bottom: 33px;
}
mark {
    background-color: #DADADA;
    display: inline-block;
}
/*h1 {
}*/
.h2 {
    font-family: 'Francois-One';
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: inline-block;
    margin-bottom: 38px;
}
.lang-lable {
    font-family: 'Tourney';
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 2px;
}
.top-small-text {
    font-family: 'Farro-Light';
    font-weight: 300;
    font-size: 1.2rem;
    position: relative;
    top: -13px;
    left: 0;
    letter-spacing: 0;
}
.underline-text {
    text-decoration: underline;
}
/*== main end ==*/


/*== header start ==*/
body {
    padding-top: 150px;
}
.scrolled #header {
    border-bottom: 1px solid #BDBDBD;
    box-shadow: 0 10px 20px #BDBDBD;
}
#header {
    height: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    text-transform: uppercase;
}
#header .container > div {
    display: flex;
    gap: 51px;
}
#header ul {
    font-size: 0;
}
#header ul li {
    display: inline-block;
    font-size: 1.375rem;
    line-height: 1.27;
    position: relative;
    font-family: 'Staatliches';
    letter-spacing: 0.8px;
}
#header ul li + li {
    margin-left: 10px;
    padding-left: 17px;
}
#header ul li + li::before {
    content: '/';
    width: auto;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
/*== header end ==*/

/*== main section start ==*/
#main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 19px;
}
#main-container .left-menu {
    width: 33%;
    flex: 0 0 auto;
    position:sticky;
    top: 80px;
}
#main-container .left-menu a {
    font-family: 'Francois-One';
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    display: block;
    padding: 10px 0 7px;
    border-bottom: 1px solid #BDBDBD;
    margin: 0px 21px 59px 10px;
}
/*--left menu style--*/
/*--article style--*/

article section {
    margin-bottom: 72px;
    padding-top: 28px;
    position: relative;
}
article section::before {
    content: '';
    position: absolute;
    left:0;
    top: 0;
    width: 100px;
    height: 8px;
    background-color: #000;
}
article section ul li {
    position: relative;
    margin-bottom: 38px;
    list-style-position: inside;
}
article section ul li::marker {
    content: '+';
    font-weight: 700;
}
/*== main section end ==*/
