@use "reset" as *;
@use "fonts" as *;
/*==variables==*/
@mixin font($size-px, $lh) {
    font-size: ($size-px / 16) * 1rem;
    line-height: $lh / $size-px;
}
$color-font: #232323;
/*== main start ==*/
body {
    //@include font_family($raleway, 500);
    //@include font(14, 24);
}
.container {
    width: min(90%, 1170px);
    margin-inline: auto;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/*== main end ==*/

/*== header start ==*/
/*== header end ==*/

/*== main section start ==*/
/*== main section end ==*/

/*== footer start ==*/
/*== footer end ==*/
