@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff') format('woff');
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff') format('woff');
    src: url('../fonts/Gilroy-Bold.woff2') format('woff2');
    font-weight: 700;
}


/*===Icon Fonts ===*/

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rfm036');
  src:  url('fonts/icomoon.eot?rfm036#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rfm036') format('truetype'),
    url('fonts/icomoon.woff?rfm036') format('woff'),
    url('fonts/icomoon.svg?rfm036#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
font-size: 1rem;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-behance-icon:before {
  content: "\e900";
}
.icon-dribbble-icon:before {
  content: "\e901";
}
.icon-instagram-icon:before {
  content: "\e902";
}
.icon-linkedin-icon:before {
  content: "\e903";
}